@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
}

.special-card {
    border-radius: 15px;
    margin-top: -25px;
}

.carousel-item:nth-child(1) img {
    background-image: url("./images/banner.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.carousel-item:nth-child(2) img {
    background-image: url("./images/banner1.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.carousel-item:nth-child(3) img {
    background-image: url("./images/banner3.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}